# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/.vite/
/out/
.env*
publish.sh
dev-dist/
CertificateSigningRequest.certSigningRequest
coverage/
certificate-base64.txt
Certificates.p12
notary.sh
apple_envs.sh
export-env.ps1