dialog h3 {
	font-size: 1.5rem;
	margin-bottom: 1rem;
}

dialog h4 {
	font-size: 1.2rem;
	margin-bottom: 0.75rem;
}

dialog form {
	margin-bottom: 1.5rem;
}

#resetAppContainer {
	margin-top: 2rem;
	margin-bottom: 2rem;

	& h4 {
		margin-bottom: 0.5rem;
	}
}

#resetWarning {
	color: var(--text-error);
}

#themeContainer {
	display: flex;
	align-items: center;
	gap: 1rem;
	margin-bottom: 1.5rem;
}

#themeContainer label {
	margin-bottom: 0;
}

#firmwareUpdateContainer input[type="button"]:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.firmware-error {
	color: var(--text-error);
}
