* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #000;
}

body {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
p {
	color: #fff;
	font-family: "Roboto", sans-serif;
}

h1 {
	letter-spacing: 5px;
}

canvas {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

input[type="file"]::file-selector-button {
	padding: 6px 12px;
	margin: 10px 10px;
	background-color: #f0f0f0;
	border: 1px solid #ccc;
	border-radius: 4px;
}

#loading {
	position: absolute;
	top: 0;
	z-index: 9999;
	width: 100%;
	height: 100%;
	display: none; /* switch to flex to show loading */
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.8);

	svg {
		animation: loading 3s linear infinite;
	}
}

@keyframes loading {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
