#helpContent {
	max-width: var(--tablet-width);
	padding-top: 40px;
	padding-bottom: 40px;
	margin: 0 auto;
}

h1 {
	font-size: 2.5rem;
	margin-bottom: var(--spacing-sm);
}

h2 {
	font-size: 2rem;
	margin-bottom: var(--spacing-sm);
}

h3,
p {
	margin-bottom: var(--spacing-lg);
}

p {
	font-size: 1.2rem;
	line-height: 1.5;
}

a {
	color: var(--text-link);
	text-underline-offset: var(--spacing-xs);
	text-decoration-style: dashed;
	transition: color var(--transition-slow);

	&:hover {
		color: var(--text-primary);
	}
}
